<head>
    <link rel="stylesheet" href="/css/filter.css">
</head>

<div class="filters">
    <div class="filter" id="filter" onclick="window.location.href='/listing/'">
        <div><i class="fa-solid fa-fire"></i></div>
        <div class="pp">Trending</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listing/type/Rooms'">
        <div><i class="fa-solid fa-bed"></i></div>
        <div class="pp">Rooms</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listing/type/Iconic Cities'">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <div class="pp">Iconic Cities</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listing/type/Mountains'">
        <div><i class="fa-solid fa-mountain"></i></div>
        <div class="pp">Mountains</div>
    </div>
    <div class="filter" id="filter"  onclick="window.location.href='/listing/type/castles'">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <div class="pp">castles</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listing/type/Amazing pools'">
        <div><i class="fa-solid fa-person-swimming"></i></i></div>
        <div class="pp">Amazing pools</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listing/type/Arctic'">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <div class="pp">Arctic</div>
    </div>
    <div class="filter" id="filter" onclick="window.location.href='/listing/type/Farms'">
        <div><i class="fa-solid fa-cow"></i></div>
        <div class="pp">Farms</div>
    </div>
    <div class="tax-toggle tax">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault"> Display total after tax</label>
        </div>
      </div>
</div>