<% layout("/layouts/boilerplate") %>
  <div class="row">
    <div class="col col-8 offset-2">
      <br><br>
      <h3>Create New Listing</h3>
      <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">title</label>
          <input type="text" name="listing[title]" placeholder=" Listing Title" class="form-control" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">description</label>
          <textarea name="listing[description]" placeholder="Enter description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">upload image</label>
          <input type="file" name="listing[image]" class="form-control">
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label" class="form-label">Price </label>
            <input name="listing[price]" placeholder="1500" class="form-control" required>
            <div class="invalid-feedback">
              Please choose a price.
            </div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label" class="form-label">country </label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">
              Please choose a country name.
            </div>
          </div>
        </div>
         <div class="row">
        <div class="mb-3 col-md-3">
          <label for="location" class="form-label" class="form-label">location </label>
          <input type="text" name="listing[location]" placeholder="Pune, Maharastra" class="form-control" required>
          <div class="invalid-feedback">
            Please choose a location.
          </div>
        </div>
        <div class=" mb-3 col-md-8">
          <label class=" form-label" for="kind">Category</label>
          <select class=" form-control" id="kind" name="listing[kind]" required>
            <option selected>Choose...</option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic Cities">Iconic Cities</option>
            <option value="Farms">Farms</option>
            <option value="Mountains">Mountains</option>
            <option value="castles">castles</option>
            <option value="Amazing pools">Amazing pools</option>
            <option value="Arctic">Arctic</option>
           
          </select>
        </div>
      </div>

        <button type="submit" class="btn btn-dark add-btn">Add</button>
        <br><br>
      </form>
    </div>
  </div>