body{
    font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
 display: flex;
 flex-direction: column;
  min-height: 100vh;
  padding-left: 3rem;
}

.container{
    flex: 1;
}

/* navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer  */

.f-info-link a{
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover{
    text-decoration: underline;
    
}

.f-info-link, .f-info-social{
    width: 100%;
    text-align: center;
}

.f-info-social i{
   font-size: 1.2rem;
   margin: 1rem;
}




.f-info{
    height: 8rem;
    background-color: #ebebeb;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}

/* cards */

.listingcard{
   border: none !important;
   margin-bottom: 2rem !important;
}
.card-img-top{
    border-radius: 1rem !important;
    padding-bottom: 0 !important;
    width: 100% !important;
}

.card-body{
    padding: 0;
    margin: 0;
}
.card-text p{
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 400 !important;
}

.listing-links{
    width: 26rem !important;
    padding: 0rem !important;
    margin-right: 1rem;
    text-decoration: none;

}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* Show page */
.show-image{
    height: 40vh;
}

.btns{
    display: flex;
}

.btn-secondary:hover{
    color: white!important;
}

/* map */
#map{
    height: 50vh;
    width: 50vw;
}